<!-- <body [ngStyle]="weatherData.main.temp<=18?{'background-color':'#BECED4'} : {'background-color': '#66A3BD'}"> -->
    <body [ngStyle]="rain?{'background-color':'#647982'}: weatherData.main.temp<=18?{'background-color':'#BECED4'} : {'background-color': '#66A3BD'}">
    <div class="loc-input-div">
        <form #form="ngForm" (submit)="onSubmit()" class="loc-input-form">
            <input name="cityInput" [(ngModel)]="initialCityName" type="text" class="loc-input" placeholder="Type a location">
            <div>
                <button type="submit" class="loc-input-button"></button>
            </div>
        </form>
    </div>
    <div class="header">
        <h1 class="city-name">{{weatherData.name}}</h1>
        <div class="header-images">
            <img *ngIf="weatherData.main.temp>=18 && !rain" src="../../../assets/sun.png" alt="" class="img-1">
            <img *ngIf="weatherData.main.temp>=18 && !rain" src="../../../assets/duck.png" alt="" class="img-2">
            <img *ngIf="rain" src="../../../assets/rain.png" alt="" class="img-1">
            <img *ngIf="rain" src="../../../assets/kuromi.png" alt="" class="img-2">
            <img *ngIf="weatherData.main.temp<=18 && !rain" [ngStyle]="{'height':'200px'}" src="../../../assets/hellokitty.png" alt="" class="img-2">
        </div>
        <h1 class="temperature">{{weatherData.main.temp}} ºC</h1>
    </div>
    <div class="weather-information">
        <div class="humidity-container" id="weather-container">
            <div class="humidity-icon">
                <img src="../../../assets/humidity-ico.png" alt="" class="humidity-img">
                <p class="humidity-text">humidity</p>
            </div>
            <p class="humidity-info">{{weatherData.main.humidity}}%</p>
        </div>
        <div class="max-temp-container" id="weather-container">
            <div class="max-temp-icon">
                <img src="../../../assets/temp-ico.png" alt="" class="max-temp-img">
                <p class="max-temp-text">max-temp</p>
            </div>
            <p class="max-temp-info">{{weatherData.main.temp_max}} ºC</p>
        </div>
        <div class="wind-container" id="weather-container">
            <div class="wind-icon">
                <img src="../../../assets/wind-ico.png" alt="" class="wind-img">
                <p class="wind-text">wind</p>
            </div>
            <p class="wind-info">{{weatherData.wind.speed}} km/h</p>
        </div>
        <div class="min-temp-container" id="weather-container">
            <div class="min-temp-icon">
                <img src="../../../assets/temp-ico.png" alt="" class="min-temp-img">
                <p class="min-temp-text">min-temp</p>
            </div>
            <p class="min-temp-info">{{weatherData.main.temp_min}} ºC</p>
        </div>
    </div>
</body>